<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            background-color: bisque;
            margin-bottom: 20px;
            padding: 10px 0;
        }

        .container a {
            text-decoration: none;
            padding: 10px 5px;
        }

        .container a:hover {
            background-color: gainsboro;
            color: orange;
        }

        .feature{
            margin: 10px 0;
        }

        .card{
            max-width: 250px;
            border: 1px solid orange;
            border-radius: 10px;
            margin: 5px 10px;
            float: left;
        }

        .relic{
            padding: 10px;
            display: flex;
            flex-direction: column;
        }

        .relic img{
            width: 0 30%;
            border-radius: 10px;
        }

        .relic span{
            margin-top: 5px;
        }

        .relic p{
            width: 100%;
        }

        .act{
            text-align: center;
            margin: 10px 0;
        }
    </style>
    <title>List Student</title>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <span>GuruGuru</span>
            <a href="/instructors/<%= instructorId %>">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <table border="1">
        <thead style="background-color: grey">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>

        <tbody>
           <% students.forEach(el => { %>
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.email %></td>
                    <td><%= el.dateOfBirth %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>